<% layout("layouts/boilerplate") -%>
    <h1>All Listings</h1>
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1">
    <% for(let listing of allListings){%>
        <a href="/listings/<%=listing._id%>" class="listing-link">
    <div class="card col" style="width: 20rem;">
        <div class="card-img-overlay"></div>
        <img src="<%=listing.image.url%>" class="card-img-top" alt="..."style="height: 20rem;">
        <div class="card-body">
          <p class="card-text">
           <b> <%=listing.title%> <br></b>
            &#x20b9; <%=listing.price.toLocaleString("en-IN")%>/Night<br>
           
        </div>
      </div>  </a><%}%></div>
  